{% extends 'home/base.html' %} 
{% load static %} 
{% block title %}NextElevadores | Clientes {%endblock %} 
{% block nav %}{% include 'home/partials/_nav.html' %}{% endblock nav %}

{% block content %} 
<h1 class="text-center m-5">Clientes</h1>
<div class="table-responsive">
  <a href="{% url 'home:create_customer' %}"><button class="btn btn-primary m-4"><svg xmlns="http://www.w3.org/2000/svg" 
    width="20" 
    height="20" 
    fill="currentColor" 
    class="bi bi-person-fill-add" 
    viewBox="0 0 16 16">
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
    <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
  </svg> Cadastrar Novo Cliente</button></a>
<table class="table table-hover table-bordered shadow rounded-3 overflow-hidden caption-top">
  <caption>Lista de Clientes</caption>
  <thead class="text-center">
    <tr class="table-info">
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  {% for customer in customers %}
  <tbody class="text-center">
    <tr>
      <td>{{customer.first_name}} {{customer.last_name}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.phone}}</td>
      <td><a class="link-info link-offset-2" href="{% url 'home:customer' customer.id %}">Detalhes</a></td>
    </tr>
  </tbody>
{% endfor %}
</table>
</div>
{% endblock %}
