{% extends 'home/base.html' %} 
{% load static %} 
{% block title %}NextElevadores | Clientes {%endblock %} 
{% block content %} 
{% include 'home/partials/_nav.html' %}
<h1 class="text-center m-5">Clientes</h1>
<div class="container">
  <a href="/customers/create_customer"><button class="btn btn-primary m-4">Cadastrar Novo Cliente</button></a>
<table class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone</td>
    </tr>
  </thead>
  {% for customer in customers %}
  <tbody>
    <tr>
      <td><a href="{% url 'home:customer' customer.id %}">{{customer.pk}}</a></td>
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.phone}}</td>
    </tr>
  </tbody>
{% endfor %}
</table>
</div>
{% endblock %}
