{% extends 'global/pages/base.html' %}
{% block title %}<title>Next Elevadores | {{cliente.nome}} {{cliente.sobrenome}}</title>{% endblock title %}
{% block content %}
<main class="container bg-body-secondary">
<h1 class="text-center p-5"><i class="fa-solid fa-user"></i></i> {{cliente.nome}} {{cliente.sobrenome}}</h1>
{% if cliente.clientepj %}
<ul class="list-group">
  <li class="list-group-item"><i class="fa-solid fa-id-card"></i> <b>CNPJ:</b> {{cliente.clientepj.cnpj}}</li>
  <li class="list-group-item"><i class="fa-solid fa-id-card"></i> <b>Razão Social:</b> {{cliente.clientepj.razao_social}}</li>
  <li class="list-group-item"><i class="fa-solid fa-building"></i> <b>Endereço:</b> {{cliente.endereco}} {{cliente.numero}}</li>
  <li class="list-group-item"><i class="fa-solid fa-phone"></i> <b>Telefone:</b> {{cliente.telefone}}</li>
  <li class="list-group-item"><i class="fa-solid fa-envelope"></i> <b>Email:</b> {{cliente.email}}</li>
  <li class="list-group-item"><i class="fa-solid fa-calendar-plus"></i> <b>Data de Criação:</b> {{cliente.data_de_criacao|date:'d/m/Y'}}</li>
  <li class="list-group-item"><i class="fa-solid fa-bookmark"></i> <b>Marca dos Equipamentos:</b> {{cliente.marca_dos_equipamentos}}</li>
  <li class="list-group-item"><i class="fa-solid fa-list-ol"></i> <b>Quantidade de Elevadores:</b> {{cliente.quantidade_de_elevadores}}</li>
  <li class="list-group-item"><i class="fa-solid fa-file-signature"></i></i> <a href="#"><b>Contrato</b></a></li>
</ul>
{% endif %}
{% if cliente.clientepf %}
<ul class="list-group">
  <li class="list-group-item"><i class="fa-solid fa-id-card"></i> <b>CPF:</b> {{cliente.clientepf.cpf}}</li>
  <li class="list-group-item"><i class="fa-solid fa-building"></i> <b>Endereço:</b> {{cliente.endereco}} {{cliente.numero}}</li>
  <li class="list-group-item"><i class="fa-solid fa-phone"></i> <b>Telefone:</b> {{cliente.telefone}}</li>
  <li class="list-group-item"><i class="fa-solid fa-envelope"></i> <b>Email:</b> {{cliente.email}}</li>
  <li class="list-group-item"><i class="fa-solid fa-calendar-plus"></i> <b>Data de Criação:</b> {{cliente.data_de_criacao|date:'d/m/Y'}}</li>
  <li class="list-group-item"><i class="fa-solid fa-bookmark"></i> <b>Marca dos Equipamentos:</b> {{cliente.marca_dos_equipamentos}}</li>
  <li class="list-group-item"><i class="fa-solid fa-list-ol"></i> <b>Quantidade de Elevadores:</b> {{cliente.quantidade_de_elevadores}}</li>
  <li class="list-group-item"><i class="fa-solid fa-file-signature"></i></i> <a href="#"><b>Contrato</b></a></li>
</ul>
{% endif %}
</div>
<button class="btn btn-warning mt-4" type="button"><a class="text-decoration-none text-dark" href="{% url "clientes:atualizar_cliente" cliente.id %}">Editar</a></button>
<button class="btn btn-danger mt-4 ms-2" type="button"><a class="text-decoration-none text-white" href="{% url "clientes:apagar_cliente" cliente.id %}">Apagar</a></button>
</main>
{% endblock content %}
