{% load static %}
<nav class="navbar bg-dark">
  <div class="container justify-content-around">
    <a href="/" class="navbar-brand">
      <img
        src="{% static 'home/img/logo-next.png' %}"
        alt="logo-next"
        width="400"
        height="80"
      />
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a
          href="/customers"
          class="nav-link link-light link-opacity-50-hover fs-5"
          >Clientes</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/budgets"
          class="nav-link link-light link-opacity-50-hover fs-5"
          >Orçamentos</a
        >
      </li>
      <li class="nav-item">
        <a href="" class="nav-link link-light link-opacity-50-hover fs-5"
          >Financeiro</a
        >
      </li>
      <li class="nav-item">
        <a href="" class="nav-link link-light link-opacity-50-hover fs-5"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
