{% extends 'home/base.html' %} 
{% load static %}

{% block title %}NextElevadores | Orçamentos {%endblock %} 
{% block nav %}{% include 'home/partials/_nav.html' %}{% endblock nav %} 
{% block content %} 

<h1 class="text-center m-5">Orçamentos</h1>
<div class="table-responsive">
  <a href="{% url 'budgets:create_budgets' %}"><button class="btn btn-primary m-4"><svg xmlns="http://www.w3.org/2000/svg" 
    width="20" 
    height="20" 
    fill="currentColor" 
    class="bi bi-file-earmark-plus-fill" 
    viewBox="0 0 16 16">
    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
  </svg> Novo Orçamento</button></a>
<table class="table table-hover table-bordered shadow rounded-3 overflow-hidden caption-top">
<caption>Lista de Orçamentos</caption>
  <thead class="text-center">
    <tr class="table-info">
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col">Orçamento</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  {% for budget in budgets %}
  <tbody class="text-center">
    <tr>
      <td>{{budget.customer}}</td>
      <td>{{budget.description}}</td>
      <td>{{budget.value}}</td>
      <td>{{budget.pk}}</td>
      <td><a class="link-info link-offset-2 p-3" href="{% url 'budgets:budget' budget.id %}">Detalhes</a</td>
    </tr>
  </tbody>
{% endfor %}
</table>
</div>
{% endblock %}
